body {
    background-color: rgb(39, 32, 32);



}

.navbar {
    background-color: #a77f57a3;

}

footer {
    background-color: #a77f57a3;
}

.navbar a {
    color: white;
}

.actu {
    height: 65vh;
    border: 3px solid white
}

@media(max-width: 500px) {
    .logo {
        width: 30%;
        height: 25%;
    }

}